@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* parte branca */
.section-left {
    background-color: #b4acacb2;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.container-card {
    width: 70%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F2EFE5;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-shoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 95%;
    height: 16vh;
    background-color: #9a9696ab;
    border-radius: 15px
}

.card-shoes img {
    height: 70%;
    margin-left: 1rem;
}

.description-shoes {
    display: flex;
    justify-content: space-between;
}

.description-left {
    display: flex;
    flex-direction: column;
}

.description-right {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 0.5rem;
    padding: 1rem;
    align-items: center;
}


.text-total {
    margin: 1rem 0 0.5rem 28rem;
    width: 100%;
}


.buttons-fotter-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    gap: 299rem;
}

#cancel {
    background-color: rgb(253, 41, 41);
    border-radius: 5px;
}

#check {
    background-color: rgb(38, 38, 253);
    border-radius: 5px;
}


/* Parte preta */
.section-right {
    background-color: black;
    color: white;
    width: 50%;
    height: 100vh;
}



.right-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

.menu {
    display: flex;
}

.material-symbols-outlined,
.material-symbols-outlined {
    margin-left: 1rem;
}

.information-h1 {
    margin-left: 3rem;
    margin-bottom: 2cqw;
    font-size: 2rem;
    text-decoration: underline;
}

.information-h3 {
    margin-left: 5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.img-card {
    width: 75%;
    height: 45vh;
}


.footer-right {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 600;
    font-size: 20px;
}